// Navigation code here

.navigation {
  display: flex;
  flex-direction: column;
  background: @nav-bg;
  margin: 0 auto;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 15px;

  h1 {
    font-size: 4rem;
  }
  nav {
    font-size: 1.6rem;
    margin: 10px 0px;
    a {
      margin: 20px 34px 20px 0;
      text-decoration: none;
      color: #000;
    }
  }
}
